<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>tipTop</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/styling.css' %}"> 
</head>
<body>

<div class="container">
    <form action="assign_name" method="POST"> 
        {% csrf_token %}
    <label for="name">Name</label>
    <input
        type="text"
        id="name"
        name="name"
        placeholder="Your name.."
    />

    <label for="dojo"> Dojo Location</label>
    <select id="dojo" name="location">
        <option value="San Jose">San Jose</option>
        <option value="San francisco">San Francisco</option>
        <option value="mountain view">Mountain View</option>
    </select>

    <label for="language">Favorite Language</label>
    <select id="language" name="language">
        <option value="python">Python</option>
        <option value="java script">Java Script</option>
        <option value="html">HTML</option>
    </select>

    <label for="comment">Comment (Optional)</label>
    <textarea
        id="subject"
        name="subject"
        placeholder="Write something.."
        style="height: 200px"
    ></textarea>

    <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>
